body {
    background-image: url(images/vint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #e5c49a;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navi ul {
    margin-top: 0%;
    list-style: none;
    padding: 10px;
    background-color: #9c5c2e52;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#navi ul li {
    display: inline;

}

#navi ul li a {
    padding-left: 1150;
    text-decoration: none;
    padding: 10px;
    display: block;
    position: sticky;
    color: #f4e4c1;
    font-weight: bold;
}

#navi ul li a:hover{
    background-color:rgb(124, 52, 18);
}

header {
    margin-top: 20px;
    color: #5c3a21;
}

.description {
    background-color: #f4e4c16e;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: #9c5c2e65;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
}
.cont{
    justify-content: center;
}
#img{
    width: 900px;
    margin-top: 20px;
}
h1{
    color: #f4e4c1;
}
p{
    color: black;
}
.foot{
    float: left;
    margin-top: 25px;
    margin-left: 0%;
}
#img1{
    width: 50px;
    margin-left: 0%;
}
h4{
    color: #f4e4c1;
}

